<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>
<!-- Routed views go here -->

<div class="table">
<div class="row">
<div class="cell"><a href="/"> Home </a></div>
<div class="cell"> <a href="/formdemo"> Form Demo </a></div>
<div class="cell"> <a href="/formdemoReactiveForms"> Reactive Form Demo  </a></div>
</div>
</div>








<div style="text-align:center">
  <h1>
   {{ title }}  <br/></h1>
    {{employeName}} <br/>
    <input [(ngModel)]="employeName"/> <br/>
    <input type="button"  (click)="myFunc()" value="Click me">
    <br/>
    
    <div>for , if , switch etc :</div>

    <ul>
        <li *ngFor="let a of fakeArray; let index = index">
          Something {{ index + 1 }}
        </li>
      </ul>

      <div *ngFor="let id of ids">
          Id is {{id}}
          <span *ngIf="id%2 == 0">
          <span [ngClass]="'one'">Even Number</span>
          </span> 	
          <span *ngIf="id%2 == 1">
          <span [ngClass]="'two'">Odd Number</span>
          </span> 	
        </div>
      
<b>NgIf with HTML Elements </b><br/>
<p *ngIf="isValid">
	Data is valid.
</p>
<p *ngIf="!isValid">
	Data is not valid.
</p>
Employee 1 (It will be shown because it is an object):

<div *ngIf="emp1.id">
{{emp1.name}}
</div>

Employee 2 (will not show on UI as it is empty) :

<div *ngIf="emp2.id">
{{emp2.name}}
</div>

<div *ngIf="myNumEnum.TWO > 1">
    {{myNumEnum.TWO}} is greater than 1.
 </div>
 <div *ngIf="myNumEnum.THREE < 2">
    {{myNumEnum.TWO}} is less than 2.
 </div>

  </div>
  
<!--<my-msg *ngIf="emp3" [pname] = "emp3.name"> </my-msg> -->

<div>This Text is from service : {{value}}</div>

 <!--<ul>
      <li *ngFor="let item of items | async">

      </li>
    </ul>-->

{{repos}}
   <ul>
      <li *ngFor="let repo of repos | async">

      </li>
    </ul>  


 <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>-->

